
@import "reseteo";
@import "variables";

body {
    
    @import "header";


//INDEX//
    
    .principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 15rem;

        section {

            background-color: white;
            border: black solid 2px;
            display: inline-block;
            text-align: center;
            width: 400px;
            height: 400px;
        }

        .sectionA {
            p {
                margin: 50px 5px 5px 5px;
                width: 400px;
                height: 400px;
                padding-right: 1rem;
            }
            
        }    
        .sectionB {
            img{
                width: 396px;
                height: 400px;
            }
        }
        .sectionD {
            transition: rotate .5s;
            &:hover {
                rotate: -5deg;
            }
            h2 {
                font-size: 10rem;
                text-align: center;
                margin-top: 20vh;
                
                a {
                    text-decoration: none;
                    color: black;
                    transition: font-size 1s;
                    transition: opacity .005s;
                    &:hover {
                        opacity: 80%;
                    }
                }

            }
        }
        
    }
    @import "extend";


    // CONTACTO //

    .formContacto {
        padding: 15rem 0rem 25rem 18rem;

        .form {
            color: white;
            font-weight: none;
        }
    }

    // GALERIA // 

    @import "mixin";

    // QUIENES SOMOS // 

    main {
        h2 {
            text-align: center;
            background-color: white;
            width: 20rem;
            height: 5rem;
            margin-left: 0rem;
            padding-top: 1.5rem;
        }
        p {
            
                background-color: white;
                width: 400px;
                height: 55rem;
               
                padding: 1rem;
                text-align: center;
                padding-top: 2rem;
             
        }
        img {
            min-width: 400px;
            object-fit: cover;
    
            height: 60rem;
    
        }
    }

    // PRODUCTOS //

main {
    .imgProductos {
            
            padding: 0rem 2rem 2rem 3rem;
            height: 52rem;
            width: auto;
            object-fit: cover;
        
    }
}

    @import "footer";
}
@import "media";